*{
    margin: auto;
    padding: 0;
}

body{

    font-family: 'Readex Pro', sans-serif;
    
}

.banner-section{

    background-image: url(./images/donation4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 80px;
    height: 620px;
    opacity: 0.9;
    
   
}

.header-h1{

    padding-top: 100px;
    font-size: 50px;
    color: #ef9273;
}

.paragraph{

    padding-left: 15px;
    color: lightcyan;
}

.first-btn{

    padding: 15px 20px;
    margin-top: 20px;
    background-color: #70be51;
    border: tomato;
    font-size: 20px;
    border-radius: 5px;
    color: white;
}

.header-donate{

    text-align: center;
    margin-top: 50px;
    font-size: 50px;
}

.para-donate{

    text-align: center;
    padding-top: 25px;
}

.shadow-section{

    display: flex;
    margin-top: 85px;
    margin-left: 300px;
}

.position{

    margin: 0px 30px;
}

.box{

    font-size: 40px;
    padding-left: 30px;
    padding-top: 30px;
    box-shadow: 2px 10px 3px #a9c25d;
    height: 90px;
    width: 130px;
    margin-left: 10px;
    color: tomato;
}

hr{
  
    margin-left: 330px;
    margin-right: 350px;
    

}

.fixed{

    text-align: center;
    margin-right: 295px;
    
}

.taka{

    color: lightslategrey;
    text-align: center;
    padding-bottom: 10px;
}

.perfect{

    margin-top: 100px;
}


.second-btn{

    padding: 15px 20px;
    margin-top: 20px;
    background-color: tomato;
    border: tomato;
    font-size: 20px;
    border-radius: 5px;
    margin-left: 660px;
}

.header-dp{

  
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
}

.para-dp{

  text-align: center;
  font-size: 25px;
  margin-top: 30px;

}

.box-item{

    display: flex;
    margin-top: 100px;
   
    padding: 25px 20px;
    margin-left: 200px;
    margin-right: 200px;

   

}

.box-shadow-dp1{

 
    font-size: 20px;
    margin-left: 20px;
    background-color: cadetblue;
    padding: 15px 15px;
    border-radius: 10px;
}
  


  
.box-shadow-dp2{

 
    font-size: 20px;
    margin-left: 20px;
    background-color: lightskyblue;
    padding: 15px 15px;
    border-radius: 10px;
}

  

.box-shadow-dp3{

 
    font-size: 20px;
    margin-left: 20px;
    background-color: lightgrey;
    padding: 15px 15px;
    border-radius: 10px;
}

.tag-h1{

    text-align: center;
    margin-top: 30px;
    font-size: 40px;
}

.email-subscribe{

    display: flex;
    margin: 50px 440px;
    background-color: antiquewhite;
    height: 120px;
    width: auto;

}
.fit-2{

    display: block;
}

.fit-1{

    margin-left: 70px;
    background-color: lightslategray;
    padding: 5px 90px;
    border: lightslategray;
    border-radius: 3px;
}


.fit-2{

    margin-left: 70px;
    background-color: tomato;
    padding: 5px 5px;
    border: tomato;
    border-radius: 3px;
    color: white;
}

.last-para{

    text-align: center;
    font-size: 40px;
    color: white;
}

.starving{

    background-color: #02031a;
    height: 120px;
}

.last{
    
    color: tomato;
    text-align: center;
    padding-top: 15px;
}

.last-para1{

  color: white;
  font-size: 15px;
  text-align: center;
  padding-top: 15px;
}